@media  (min-width: 400px)
{
    
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}
body
{    
    margin: 0;
    background-color: rgb(247,220,255);
}
.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn
{
    position: absolute;
    top:0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.container
{
    display: flex;
    flex-wrap: wrap;
}
.box1
{
    margin-top: 4%;
    margin-left: 0%;
}
.box2
{
    margin-top: 4%;
    margin-left: 7%;
}
.box3
{
    margin-top: 4%;
    margin-left: 7%;
}
.box4
{
    margin-top: 0;
    margin-left: 0%;
}
.box5
{
    margin-top: 0;
    margin-left: 7%;
}
.box6
{
    margin-top: 0;
    margin-left: 7%;
}
.box7
{
    margin-left: 2%;
    margin-top: 0%;
}
.box8
{
    margin-left: 10%;
    margin-top: 0%;
}

